@import url("/home/spacerat/.cache/wal/colors-waybar.css");

* {
	font-family: "JetBrainsMono NF Medium";
	font-size: 25.5;
}

window {
  background: transparent;
}

button {
  border-radius: 4;
  background: alpha(@background, 0.80);
  color: @foreground;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 10;
}

button:focus,
button:active,
button:hover {
  color: @background;
	background-color: alpha(@color6, 0.80);
	outline-style: none;
  transition: background-color .15s ease-in;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock_white.svg"), url("/usr/local/share/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout_white.svg"), url("/usr/local/share/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend_white.svg"), url("/usr/local/share/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate_white.svg"), url("/usr/local/share/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown_white.svg"), url("/usr/local/share/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot_white.svg"), url("/usr/local/share/wlogout/icons/reboot.svg"));
}
