@import url("/home/spacerat/.cache/wal/colors-waybar.css");

* {
}

#expander-box,
window {
	font-size: 16.0px;
	font-family: "JetBrainsMono NF Medium";
  background: alpha(@background, 0.80);
	border-radius: 0px;
  border: 1px solid alpha(@color6, 0.50);
}

#expander-box {
  margin: 10px;
}

#expander-box:selected,
#entry:selected {
  background: alpha(@color6, 0.80);
	border-radius: 4px;
	padding: 6px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
  transition: all .1s ease-in;
}

#text:selected {
  color: @background;
  font-family: "JetBrainsMono NF SemiBold"
}

text:unselected {
  @foreground;
}

#expander-box,
#entry:unselected {
	padding: 10px;
}

#img {
  margin-right: 10px;
  margin-left: 10px;
}

#input {
  background: alpha(@background, 1);
	margin: 20px;
  padding: 6px;
	border: 1.5px solid alpha(@color6, 0.50);
}
