
* {
}

window {
	font-size: 14.5px;
	font-family: "SourceCodePro", "Symbols";
	background-color: rgba(22, 23, 27, 0.77);
	border-radius: 10;
	color: #ffffff;
	/*border: 3px solid;*/
	/*border-color: #364960*/
}

#entry:selected {
	background-color: rgba(61, 70, 104, 0.55);
	border: 2px solid;
	border-radius: 10px;
	border-color: #7a94ac;
	padding: 0.15em;
	margin-left: 6;
	margin-right: 6
}

#entry:unselected {
	color: #ffffff;
	padding: 0.15em;
	border-radius: 5
}

#input {
	background-color: rgba(22, 23, 27, 0.55);
	margin: 7px;
	margin-bottom: 5;
	color: #ffffff;
	border: 2px solid;
	border-color: #364960
}
